body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.fist-section{
    display: flex;
    background-image: url(/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 70%;
}
.orange-color{
    color: orange;
}
.button-item{
    text-decoration: none;
    background-color: orange;
    padding: 10px 40px;
    border-radius: 5px;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;

}
.second-section{
    display: flex;
    background-image: url(/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 5%;
    margin-bottom: 5%;
}

.developer{
    display: flex;
    background-image: url(/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    
}
.box-shadow{
    width: 40%;
    margin-left: 5% ;
    margin-right: 5%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
} 
#full-web-developer{
    border-image: linear-gradient(#f6b73c, #4d9f0c) 30;
    border-left: 7px solid;
    border-image-slice: 1;

}
#Baby-Web-Developer{
    border-image: linear-gradient(#480abd, #da0a0a) 30;
    border-left: 7px solid;
    border-image-slice: 1;

}
footer{
    text-align: center;
    padding-top: 5%;
}